@{
  Layout = "_Layout";
}
@model ToDoList.Models.Item
<h4>Add a new item</h4>

<p>@Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

<p>@Html.ValidationMessageFor(model => model.Description, "", new
    {
      @class = "text-danger",
      @style = "font-weight: 600;"
    })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description) //for new item

  //hidden checkbox here?

  @Html.LabelFor(model => model.Category) //dropdown cat. names
  @Html.DropDownList("CategoryId")

  <input type="submit" value="Add new item" class="btn btn-primary"/>
}
<br />
<p>@Html.ActionLink("Add category", "Create", "Categories")</p>
<p>@Html.ActionLink("Show all items", "Index")</p>