@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<h2>Edit</h2>

<h4>Edit this item: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{ //need to pass spec. items id on the controller so it knows who to update
  @Html.HiddenFor(model => model.ItemId) 

  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description)

  @Html.LabelFor(model => model.Category) //cat to associate item with
  @Html.DropDownList("CategoryId")

  <input type="submit" value="Save" /> //button. text='save'
}
<p>@Html.ActionLink("Back to list", "Index")</p>